*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	background-image: url("");
}

h1{
	margin: 15px auto !important;
	font-size: 36px;
	font-family: 'Unica One', cursive;
	font-weight: 700;
}

#score-wrapper{
	position: relative;
	top: 13px;
	padding: 0 5px;
	font-size: 24px;
	font-family: 'Unica One', cursive;
	border: 1px solid black;
}

#board-wrapper{
	height: 527px; /*2px extra for border*/
	width: 527px; /*2px extra for border*/
	border: 1px solid white;
	margin: 0 auto;
}

.pixel, .snake-head{
	height: 15px;
	width: 15px;
	border: 1px solid white;
	background-color: #e6e6e6;
	float: left;
}

.snake-head{
	background-color: red !important;
}

.snake-body{
	background-color: green !important;
}

.fruit{
	background-color: blue !important;
}