body{
    float: left;
	width: 95%;
	box-shadow: -4px 0 4px 0 rgba(25,25,25,0.04);
	margin:0 0 0 30px;
	padding-top: 48px;
}

#nav-bar{
	position: fixed;
	top: 0;
	right: 0;
	width: 98%;
	height: 48px;
	border-bottom: 1px solid #ccc;
    background-color: white;
}

#sections_button{
	display: inline-block;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
   	margin: 0;    
    height: 30px;
    width: 100px;
    
    border-radius: 3px;
    background-color: white;
    
    cursor: pointer;
    text-transform: uppercase;

    border: 1px solid #e2e2e2;

    position: fixed;
    top: 7px;
    left: 10px;
}


.button_text{
	display: inline-block;
    width: auto; 
    font-weight: 700;
    font-size: 13px;
    margin-top: 6px;
}

#sections_button:hover{
	background-color: #F6F6F6 ;
}

.button:hover{
	background-color: #F6F6F6 ;
    cursor: pointer;
}

.button{
    display: inline-block;
	height: 30px;
    width: 75px;
    margin-top: 11px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

#button-group{
    margin-left: 100px;
    width: 200px;
}

#button-group p{
    margin-left: 30px;
    margin-top: 8px;
}

#logo{
    width: 185px;
    height: 26px;
    background-image: url('images/logo.png');
    margin-top:-28px;
    margin-left: -40px;
}

#login{
    float: right;
    margin-top:-25px;
}

#login input{
    background-color: #6288a5;
    border-color: #4d7b9f;
    color: #fff;
    font-weight: 700;
    height: 30px;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    border-radius: 3px;
    padding: 7px 9px;
    border: 1px solid #e2e2e2;
    font-size: 11px;
    margin-top: -5px;
    margin-right: 45px;
}

#settings{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;

    height: 30px;
    width: 30px;

    position: fixed;
    top: 10px;
    right: 8px;
}

#ribbon_container{
    height: 82px;
    width: 100%;
    box-shadow: 3px 5px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.01);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#container{
    margin: 30px 150px 0 90px;
    display: block;
    height:auto !important;
    min-height:100%;
}

#article_head #type{
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    display: block;
}

#article_head #type:hover{
    text-decoration: underline;
    cursor: pointer;
}

#article_head #title{
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-style: italic;
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}

#article_head #author{
    font-size: 11px;
    line-height: 12px;
    font-family : serif;
}

#article_image{
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
}

#img-description{
    margin: 5px 0 0 0;
    width: 65%;
    font-size: 14px;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

#page-columns{
    display: block;
}

#left_col{
    float: left; /*creating columns*/
    display: inline-block; 
    width: 10%;
    margin:10px 10px 10px 0;
}

#middle_col{
    float: left;/*creating columns*/
    display: inline-block; 
    width: 55%;
    margin:10px 10px 10px 10px;
}

#right_col{
    float: left;/*creating columns*/
    display: inline-block; 
    width: 30%;
    margin:10px 0px 10px 10px;
}

#middle_col > p{
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
}

#img1{
    display: block;
    overflow:visible;
    width: 950px;
    position: relative;
    left: -100px;
}

#video{
    position: relative;
    left: -5px;
}

#video>p{
    font-size: 12px;
    color: #999;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    margin: 1px 0 0 0;
}


#img2>p{
    font-size: 12px;
    color: #999;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    margin: 2px 0 0 0;
}

#article_end{
    display: block;
}

#article_end>hr{
    width: 15%;
    margin-top: 20px;
    float: left; 
    background-color: #000;   
}

#article_end>p{
    font-size: 11px;
    color: #999;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    margin: 5px 0 0 0;
    float: left;
}

#more_recommendations{
    display: block;
    overflow:visible;
    border-top: 1px solid lightgray;
    margin-top: 140px;
    width: 680px;
    margin-left: -50px;
}

#more_in_space{
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    margin-top: 6px; 
}

#more_in_space:hover{
    text-decoration: underline;
    cursor: pointer;
}


.recom{
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin-top: 10px;
}

.recom>p{
    font-size: 14px;
    color: #000;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    margin-top: 5px;
}

.recom:hover{
    cursor: pointer;
    text-decoration: underline;
}

#footer{
    display: block;
    position: relative;
    top: 100px;
    width:75%;
    clear: both; /*very important to stick the footer at bottom*/
    margin: 0px 30px 0 140px;
    border-top-style: double;
    border-color: #ccc;
    padding-top: 10px;
    
}

#logo2{
    width: 185px;
    height: 26px;
    background-image: url('images/logo.png');
}

#column_container{
    margin-top: 25px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.column{

    width: 15%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    height: 340px;
}

.column>ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 8px;
}

.column ul li{
    font-size: 12px;
    margin-top: 6px;
    font-weight: 500;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

.column ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.column span{
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
}

#last_column{
    width: auto;
    margin-left: 40px;
    border-left:1px solid lightgray;
}

.last_col_data{
    font-size: 15px !important;
    padding: 0 !important;
    margin-top:4px !important;
    margin-left: 10px !important;
}

#last_column ul{
    margin-left: 10px !important;
    margin-top: 20px !important;
    border-top: 1px solid lightgray;    
}

.last_col_data:hover{
    text-decoration: underline; 
    cursor: pointer;
}

#copyright{
    padding-top: 5px;
    font-size: 11px;
    color: #999;
    padding-bottom: 20px;
}

#share_holder{
    margin: 15px 0 0 0;
}

.left_col_button{
    display: block;
    width: 85px;
    height: 25px;
    border-bottom: 1px solid lightgray;
    padding: 6px 0 6px 0;
    margin: 0px;
    float: left;
}

.left_col_button :hover{
    background: #F6F6F6;
    cursor: pointer;
}

.left_col_button p{
    margin: 0px;
    padding: 6px;
    vertical-align: middle;
    font-size: 13px;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    color:#555;
}

.share_icon{
    width: auto;
    max-height:20px;
    float: left;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: 3px;
}