body{
	margin: 0;
	background-color: rgb(241,241,241);
	overflow-x: hidden; /*no horizontal scroll*/
}

header{
	position: relative;
	left: -22px;
	top: -2px;
}

footer{
	position: relative;
	left: -22px;
}

aside{
	float: right;
	left: 30px;
}

section{
	position: relative;
	left: 70px;
	margin-bottom: 5px;
}
#details{
	left: 67px;
	top: -2px;
}