body{
	margin: 0;
	background-color: rgb(241,241,241);
	overflow-x: hidden; /*no horizontal scroll*/
}

header{
	position: relative;
	top: -2px;
	left: 2px;
}

footer{
	position: relative;
	left: 2px;
	bottom: -6px;
}

aside{
	float: right;
	margin-right: 75px;
}

section{
	position: relative;
	left: 75px;
	margin-bottom: 5px;
}

#details{
	left: 72px;
	top: -2px;
}

#comments{
	left: 72px;
}