*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav{
	margin: 0 auto;
	border-top: 5px solid red;
    border-bottom: 1px solid red;
    padding: 0 0 1% 0;
}

#nav-top{
	height: 25px;
	width: 100%;
	margin: 6px 0 -4px 0;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 14px; 
}

#nav-top>span>span{
	font-style: italic;
	font-weight: 700;
	color: red;
}
#nav-search-container div span{
	color: red;
}

#nav-top>span{
	margin-left: 15%;
	margin-right: 6%;
}

.nav-top-button{
	float: right;
	margin: 0;
	height: 25px;
	border: 0;
	padding: 3px 30px;
	margin-top: -5px;
	font-size: 12px;
	font-style: italic;
}

#logo{
	background-image: url("images/logo.png");
	height: 58px;
	width: 25%;
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 1.5% 2% 0 0%;
    padding: 0;
    display: inline-block;
}

#nav-links-container{
	display: inline-block;
}

#nav-links{
	list-style: none;
}

#nav-links li{
	display: inline-block;
	font-size: 14px;
	font-family: sans-serif;
    color: #ff0000;
    text-transform: uppercase;
    padding: 0 3px;
    font-weight: 700;
}

#nav-links :hover{
	color: #444;
	cursor: pointer;
}

.underline_hover :hover{
	cursor: pointer;
	text-decoration: underline;

}

#nav-search-container{
	display: inline-block;
	float: right;
	position: absolute;
	right: 0px;
	top: 35px;
	width: 550px;
}

#nav-search-container > div{
	display: inline-block;
	padding:0 1.5%;
	float: left;
}

#nav-search-container #search-box{
	width: 150px;
	border-radius: 3px;
}

.glyphicon{
	padding: 0 5px;
}

.nav-top-button_after_break{
	display: none;
}

.gly_show_at_break{
	display: none;
}

.dropdown{
	display: none;
}

#cover_image_container{
	padding: 0;
}

#cover_image_container img{
	margin: 30px 0 0 0;
	border-bottom: 3px solid red;
}

.follow-box,.side-bar-box {
	background-image: url("images/deco-stripes.png");
	padding: 15px;
	margin-bottom:30px; 
}

.side-bar-box{
	width: 112%;
	margin-left: -15px;
	padding: 20px;
}

.side-bar>div{
	padding-bottom: 30px;
}

.side-bar-title span,
.side-bar-title p{
	display: inline-block;
	color: white;
}
.side-bar-title p{
	font-weight: bold;
	font-family: "Roboto";
	margin: 0;
}
.side-bar-title {
	display: inline-block;
	background-color: #20C3F3;
	padding: 0 9px;
	height: 20px;
	margin-bottom: 15px;
}

.subscribe-box{
	width: 100%;
}
.follow-tabs ul{
	padding: 0;
	text-align: center;
}
.tab-content{
	margin-top: 5px;
	background-color: white;
}

.follow-tabs li{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #d3d3d3;
	border-radius: 100%;
	border: 2px solid white;
	text-align: center;
}
.follow-tabs li a{
	display: inline-block;
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.follow-tabs li a span{
	vertical-align: middle;
	color: white;
	margin-top: 5px;
}
.follow-tabs ul > li.active > a,
.follow-tabs ul > li.active > a:hover,
.follow-tabs ul > li.active > a:focus {
	background-color: #20C3F3;
}

.follow-tabs .tab-content form{
	padding: 5px;
	
}

.follow-tabs .tab-content form input{
	border: none;
	margin: 5px 0;
}
.follow-tabs .tab-content form input:first-child,
.most-shared-box ul li{
	border-bottom: 1px solid #d3d3d3;
}
.follow-tabs .tab-content form input:first-child{
	font: 12px/20px "Roboto", sans-serif;
	width: 65%;
}
.follow-tabs .tab-content form input:last-child{
	font: 12px/20px "Roboto", sans-serif;
	background-color: #20C3F3;
	font-weight: 500;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
	width: 30%;
}

.most-shared-box ul{
	padding: 15px;
	list-style: none;
	background-color: white;
	margin: 0;
}
.most-shared-box ul li{
	padding: 10px 0;
}

.most-shared-box ul li:first-child{
	padding-top: 0;
}

.most-shared-box ul li a p:hover{
	color: #20C3F3;
	transition: all 0.25s ease;
}
.main-section-wrapper,
.mag-wrapper,
footer{
	font-family: "Roboto",Arial, sans-serif;
}
.most-shared-box ul li>p{
	font-style: italic;
	margin: 0;
	color: #7D7D7D;

}
.most-shared-box ul li a p{
	margin: 0;
	display: inline-block;
	font-size: 16px;
	color: #505050;
}
.most-shared-box ul li a p span{
	font-size: 10px;
	color: white;
	padding: 2px;
	background-color: #20C3F3;
	border-radius: 100%;
}

.most-read{
	margin: 15px 0;
}

#right_side_col{
	margin: 30px 0px 0 0;
	padding-left: 40px;
}

.row{
	padding: 0px 15px;
}


@media only screen and (max-width: 992px){
 	#nav-links-container{
 		display: none;
 	}

 	#logo{
 		width: 250px;
 		float: left;
 		margin: 0 0 0 20px;
 	}

 	#nav{
		margin: 0 auto;
		border-top: 0;
	    border-bottom: 1px solid red;
	    padding: 0 0 1% 0;
	    height: 65px;
	}

	.hide_at_break{
		display: none;
	}

	.nav-top-button_after_break{
		display: inline-block;
		width: 49%;
		margin: 0;
		border: 0;
		font-family: Georgia, Arial, Helvetica, sans-serif;
		font-size: 12px;
	}

	#nav-search-container-after-break{
		display: inline-block;
		margin-left: 78%;
		margin-top :-25px; 
	}

	#nav-search-container-after-break span{
		display: inline-block;
		font-size: 38px;
		vertical-align: middle;
	}

	.gly_show_at_break{
		display: inline-block;
	}

	.dropdown{
		display: inline-block;
	}

	.dropdown button{
		height: 42px;
		display: inline-block;
		padding: 0;
		border: 0;
	}

	#right_side_col{
		display: none;
	}
	
}