* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#nav {
    float : right;
    position: relative;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
	    text-decoration: none;
}

.nav_links{

    opacity: .75;
    color: #000000;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    font-family: arial,sans-serif;

}


#search_area{
	position: relative;
    clear: both;
    top: 150px;
}
#search_box_div{
    background: #fff;
    max-width: 584px;
    margin: -1px 0px 1px;
    border: 1px solid #c6c6c6;
    padding: 5px 9px 0;
    height: 38px;
    position: relative;
    top: 30px;
    left: 6px;
}

#search_box{
    display: block;
    border: none;
    height: 100%;
    width: 100%;
    position: relative;

}

.button{
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    color: #666;
    font-family: arial,sans-serif;
    cursor: default;
    text-decoration: none;
}

#signin{
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
}

.search{
    height: 36px;
    line-height: 27px;
    color: #757575;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 2px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
#search_button_area{
    position: relative;
    top: 20px;
    left: -6px;
}

input:focus {
    outline: none; /* no selction around text field when active*/
}
